---
import { Image } from "astro:assets";

import facebook from "../assets/facebook.svg";
import instagram from "../assets/instagram.svg";
import twitch from "../assets/twitch.svg";
import x from "../assets/x.svg";
import youtube from "../assets/youtube.svg";
---

<section>
  <div class="wrapper-slider">
    <div class="slider">
      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider">
      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider">
      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrapper-slider">
    <div class="slider slider2">
      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider slider2">
      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider slider2">
      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="wrapper-slider">
    <div class="slider slider3">
      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider slider3">
      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
    </div>

    <div class="slider slider3">
      <div class="content">
        <Image class="img" src={youtube} alt="youtube" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={x} alt="x" />
        <p>wachawacha</p>
      </div>
      <div class="content">
        <Image class="img" src={twitch} alt="twitch" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={instagram} alt="instagram" />
        <p>wachawacha</p>
      </div>

      <div class="content">
        <Image class="img" src={facebook} alt="facebook" />
        <p>wachawacha</p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vw;
    transform: translateY(-1.5vw);
  }

  .content {
    display: flex;
    justify-content: center;
    border-radius: 26px;
    align-items: center;
    padding-inline: 10px;
    margin-inline: 10px;
    transition: 0.5s;
    p {
      font-family: "VT323", serif;
      font-weight: 400;
      font-style: normal;
      font-size: calc(0.9vw + 0.5em);
      color: #fff;
      margin: 0;
    }
  }

  .img {
    width: 4vw;
    height: 3vw;

    transition: 0.5s;
    cursor: pointer;
    border-radius: 26px;
  }

  .content:not(:hover) {
    filter: grayscale(100%);
    background-color: rgb(30, 30, 30);
  }

  .wrapper-slider {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    mask-image: linear-gradient(
      90deg,
      transparent,
      #0f0f0f 20%,
      #0f0f0f 80%,
      transparent
    );
  }

  .wrapper-slider:hover .slider {
    animation-play-state: paused;
  }

  .slider {
    white-space: nowrap;
    animation: scroll 30s linear infinite;
    display: flex;
    justify-content: center;
  }

  .slider2 {
    animation: scrol 45s linear infinite;
  }

  .slider3 {
    animation: scrolll 15s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrol {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes scrolll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>
